<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/MrPat/Trilateration/raw/master/lib/PokeSensor-4.3-beta.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/MrPat/Trilateration/raw/master/lib/ota%20ios%20icon%20small.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/MrPat/Trilateration/raw/master/lib/ota%20ios%20icon%20full.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.logickllc.pokesensor</string>
				<key>bundle-version</key>
				<string>4.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>PokeSensor Native MOE</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
